:root {
    --header-height: 70px;
    --main-bg: #f0efef;
    --main-transition: all 0.3s ease;
    --main-color: #fff;
    --main-font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding: 12px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li,
a {
    color: #fff;
    font-size: 15px;
}

nav ul li:nth-child(2) a {
    color: yellow;
}

nav ul li:nth-child(2) i {
    color: yellow;
    font-size: 15px;
    margin-left: 6px;
}

nav ul li:nth-child(3) {
    position: relative;
}

nav ul li:nth-child(3) input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
}

nav ul li:nth-child(3) i {
    position: absolute;
    font-size: 20px;
    right: 12px;
    color: black;
    line-height: 30px;
    cursor: pointer;
}

nav ul li:nth-child(4) button {
    height: 30px;
    padding: 0 12px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}

nav ul li:nth-child(4) button i {
    margin-right: 6px;
}

nav ul li:nth-child(4) button:hover {
    background-color: #575555;
}

nav ul li:nth-child(5) {
    text-align: center;
}

nav ul li:nth-child(5):hover a {
    color: yellow;
}

nav ul li:nth-child(6) a {
    text-align: start;
    color: yellow;
}

nav ul li:nth-child(7):hover a {
    color: yellow;
}

nav ul li:nth-child(8):hover a {
    color: yellow;
}

.main-btn:hover {
    background-color: orange;
    color: black;
}

.product-item-price {
    margin-top: 6px;
}

.product-item-price p {
    font-weight: var(--main-font-weight);
}

.product-item-price p span {
    font-weight: 300;
    font-size: small;
    text-decoration: line-through;
}

.main-h2 {
    font-weight: var(--main-font-weight);
    margin: 12px 0;
    font-size: 20px;
}

header {
    height: var(--header-height);
    border-bottom: 1px solid #d5d2d2;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgba(255, 0, 0, .9) !important;
}

header .row-flex {
    align-items: center;
}

.header-logo img {
    width: 70px;
    cursor: pointer;
}

.header-nav nav ul {
    display: flex;
}

.header-nav nav ul li {
    padding: 0 10px;
    /*tren duoi 0, trai phai 10px*/
    transition: var(--main-transition);
    cursor: pointer;

}

.header-nav nav ul li a {
    line-height: var(--header-height);
    font-size: smaller;
}

.header-nav nav ul li:hover {
    background-color: var(--main-bg);
}

.header-search {
    position: relative;
}

.header-search i {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    cursor: pointer;
}

.header-search input {
    height: 30px;
    border: 1px solid black;
    padding-left: 20px;
    border-radius: 5px;
}

/* Slider */

.slider {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
}
.slide-show {
    width: 800px;
    overflow: hidden;
}
.list-image {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.list-image img{ 
    width: 800px;
    height: 400px;
}
/*End Slider */
